// .item-video{
//     clear: both;
//     width: 100%;
//     margin-bottom: 80px;
// }
// .portada-item{
//     width: 33%;
//     float: left;
// }
.title {
    text-transform: uppercase;
    font-family: 'futuralight';
    font-size: 26px;
    color: #866747;
}
.item-video {
    margin-bottom: 24px;
    @media(max-width:767px){
        margin-bottom: 0;
    }
    .col-xl-4 {
        &:first-child {
            padding-right: 0;
            @media(max-width:767px){
                padding-right: 0;
                padding-left: 0;
            }
        }
        &:nth-child(2) {
            padding-right: 0;
            padding-left: 0;
        }
        &:last-child {
            padding-left: 0;
            @media(max-width:767px){
                padding-right: 0;
                padding-left: 0;
            }
        }
    }
    .col-12 {
        @media(max-width:767px){
            padding-right: 0;
            padding-left: 0;
        }
    }
    h2 {
        margin: 10px 0;
        text-transform: uppercase;
        font-family: 'futuralight';
        font-size: 20px;
    }
    .portada-item {
        width: 100%;
        height: 100px;
        overflow: hidden;
        cursor: pointer;
        @media screen and (min-width: 768px) and (max-width: 1199px){
            height: 100px;
        }
        @media(min-width:1720px){
            height: 160px;
        }
        &.hover {
            // filter: grayscale(100%) sepia(1) brightness(100%) contrast(100%);
            // -webkit-filter: grayscale(100%) sepia(1) brightness(100%) contrast(100%);
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
        }
        img {
            width: 105%;
            @media screen and (min-width: 768px) and (max-width: 1199px){
                width: 115%;
            }
            @media(min-width:1720px){
                width: 102%;
            }
        }
    }
}
.online-animation {
    p {
        margin: 16px 0 24px;
        font-family: "futuralight";
        font-size: 16px;
        color: #96816C;
        line-height: 20px;
    }
    .col-12 {
        @media(max-width:767px){
            padding-left: 0;
            padding-right: 0;
        }
    }
}