<div class="contact-page">
    <div class="row">
        <div class="col-12 col-md-6 text-left text-md-right">
            <h2>{{translation.work_with_us_title}}</h2>
            <p>{{translation.work_with_us}}</p>
            <h3>{{translation.search_workers_title}}</h3>
            <p>{{translation.search_workers}}</p>
            <a href="{{contact.map_url}}" target="_blank" >
                {{contact.address}}
            </a>
            <a href="tel:{{contact.phone}}">{{contact.phone}}</a>
            <a [href]="emailTxt">{{contact.email}}</a>
        </div>
        <div class="col-12 col-md-6">
            
        </div>
    </div>
</div>