.contact-page{
    padding: 10% 0 0;
    h2 {
        text-transform: uppercase;
        margin-bottom: 16px;
    }
    h3 {
        color: #866747;
        font-family: "futuralight";
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
    p {
        margin: 16px 0 24px;
        font-family: "futuralight";
        font-size: 16px;
        color: #96816C;
        line-height: 24px;
        margin-bottom: 32px;
    }
    a {
        font-family: "futuralight";
        display: block;
        margin-bottom: 16px;
    }
    .logo-dorado {
        width: 43%;
        margin-left: 32px;
        display: block;
        @media(max-width:768px){
            display: none;
        }
    }
    .col-12 {
        @media(max-width:767px){
            padding-left: 0;
            padding-right: 0;
        }
    }
}