
.contenedor-menu {
    display: flex;
    flex-direction: column;
    height: 90vh;
    @media(max-width:767px){
        flex-direction: row;
        height: inherit;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px){
        flex-direction: row;
        height: initial;
    }
    &.home {
        height: initial;
    }
    .logo-header{
        cursor: pointer;        
        @media(max-width:767px){
            margin-right: auto;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px){
            width: 32%;
            height: 130px;
        }
        img {
            width: 160px;
            display: block;
            margin: 13px auto 40px;
            @media(max-width:767px){
                width: 100px;
                display: initial;
                margin: initial;
                padding: 24px 0 0;
            }
            @media screen and (min-width: 768px) and (max-width: 1199px){
                margin:16px auto 0;
            }
        }
    }
    .menu{
        width: 285px;
        z-index: 1;
        padding: 0 26px;
        margin-bottom: 32px;
        margin-top: -54px;
        @media(max-width:767px){
            width: 100%;
            z-index: 1;
            padding: 40px 0 0 0;
            margin-bottom: 0;
            margin-top: 0;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px){
            width: 100%;
            z-index: 1;
            padding: 40px 26px 0 0;
            margin-bottom: 0;
            margin-top: 0;
        }
        @media(min-width:1720px){
            padding: 6% 0px 0 26px;
            margin-top: initial;
        }
        &.menu-desktop {
            margin-top: 70px;
            @media(max-width:767px){
                margin-top: initial;
            }
            @media screen and (min-width: 768px) and (max-width: 1199px){
                margin-top: initial;
            }
            @media(min-width:1720px){
                margin-top: 70px;
            }
        }
        &.menu-tablet {
            @media screen and (min-width: 768px) and (max-width: 1199px){
                padding: 40px 32px 0 0;
                position: absolute;
            }
        }
        &.menu-mobile {
            @media(max-width:768px){
                height: 100vh;
                position: absolute;
                background-color: #000;
                padding-left: 24px;
                padding-right: 24px;
            }
        }
        .hamburger{
            position:relative;
            background-color:transparent;
            left:0;
            top:0;
            height:30px;
            width:30px;
            -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
            -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
            transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
            z-index:1002;
            cursor:pointer;
            -webkit-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            user-select:none;
            float:left;
            @media(max-width:767px){
                float: right;
                margin-right: 24px;
            }
            @media screen and (min-width: 768px) and (max-width: 1199px){
                float: right;
                margin-right: 26px;
            }
            &.is-active{
                background-color:none;
                .-top{
                    -webkit-transform:translateY(200%) rotate(45deg) !important;
                    -ms-transform:translateY(200%) rotate(45deg) !important;
                    transform:translateY(200%) rotate(45deg) !important;
                }
                .-mid{
                    opacity:0;
                }
                .-bottom{
                    -webkit-transform:translateY(-1979%) rotate(135deg) !important;
                    -ms-transform:translateY(-1979%) rotate(135deg) !important;
                    transform:translateY(-1979%) rotate(135deg) !important;
                }
            }
            &:hover {
                &.-top{
                    -webkit-transform:translateY(-100%);
                    -ms-transform:translateY(-100%);
                    transform:translateY(-100%);
                }
                &.-bottom{
                    -webkit-transform:translateY(100%);
                    -ms-transform:translateY(100%);
                    transform:translateY(100%);
                }
            }
            ._layer{
                background:#997752;
                margin-bottom:10px;
                border-radius:2px;
                width:40px;
                height:1px;
                opacity:1;
                -webkit-transform:translate3d(0, 0, 0);
                transform:translate3d(0, 0, 0);
                -webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
                transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);        
            }
        }
        .p-menu{
            color: #997752;
            margin-left: 50px;
            font-family: 'futuralight';
            font-size: 18px;
            margin-top: -7px;
            text-transform: uppercase;
            transition: all 0.25;
            opacity: 0;
            &.p-menu-open{
                opacity: 1;
                @media(max-width:767px){
                    transition: all 0.25s ease;
                    transform: translateX(-30px);
                }
                @media screen and (min-width: 768px) and (max-width: 1199px){
                    transition: all 0.25s ease;
                    transform: translateX(-53px);
                    float: right;
                }
            }            
        }
        .menu-list{
            height: 0px;
            width: auto;
            color: #fff;
            font-size: 18px;
            text-transform: uppercase;
            border-left: 1px solid #997752;
            color: #997752;
            padding-left: 15px;
            margin-left: 35px;	
            list-style: none;
            margin-top: 20px;
            overflow: hidden;
            -webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
            transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
            &.open-menu{
                overflow: visible;
                height: auto;
                width: 100%;
                @media(max-width:767px){
                    transition: all 0.25s ease;
                    transform: translateX(-30px);
                    width: 100%;
                }
                @media screen and (min-width: 768px) and (max-width: 1199px){
                    transition: all 0.25s ease;
                    transform: translateX(170px);
                    float: right;
                    width: initial;
                    margin-top: 28px;
                }
            }
            li{
                cursor: pointer;
                padding: 5px;
                font-family: 'futuralight';
                &:hover{
                    font-family: 'futuraextra_black';
                }
                a {

                }
                ul {
                    @media(max-width:767px){
                        padding-inline-start: 10px;
                    }
                }
            }
        }
    }
    .redes {
        font-size: 18px;
	    font-family: 'futuralight';
        color: #997752;
        padding: 0 24px;
        position: absolute;
        bottom: 0;
        @media(max-width:767px){
            margin-top: initial;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px){
            margin-top: initial;
        }
        @media(min-width:1720px){
            bottom: -12px;
        }
        &.redes-home {
            bottom: 130px;
        }
        a {
            p {
                text-transform: uppercase;
            }
        }
        .lang-items {
            li {
                text-transform: uppercase;
            }
        }
        .sm-items {
            display: flex;
            width: 100%;
            margin-bottom: 0;
            li {
                margin: 16px 8px 0;
                cursor: pointer;
                list-style: none;
                &:hover {
                    opacity: .5;
                }
                &:first-child {
                    margin-left: 0;
                }
                &:not(:first-child):not(:last-child) {
                    margin: 16px 8px;
                }
                &:last-child {
                    margin-right: 0;
                }
                .insta{
                    img {
                        width: 30px;
                    }
                }
                .in{
                    img {
                        width: 30px;
                    }
                }
                .vimeo{
                    img {
                        width: 30px;
                    }
                }
            }
        }
    }
}