
.contenedor-menu {
    display: flex;
    flex-direction: column;
    @media(max-width:768px){
        flex-direction: row;
    }
    .logo-header{
        cursor: pointer;
        @media(max-width:768px){
            margin-right: auto;
        }
        img {
            width: 160px;
            display: block;
            margin: 32px auto;
            @media(max-width:768px){
                width: 100px;
                display: initial;
                margin: initial;
                padding: 24px 0 0;
            }
        }
    }
    .menu{
        width: 285px;
        z-index: 1;
        padding: 0 26px;
        margin-bottom: 32px;
        @media(max-width:768px){
            width: 100%;
            z-index: 1;
            padding: 40px 0 0 0;
            margin-bottom: 0;
        }
        @media(min-width:1720px){
            padding: 26% 0px 0 26px;
        }
        .hamburger{
            position:relative;
            background-color:transparent;
            left:0;
            top:0;
            height:30px;
            width:30px;
            -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
            -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
            transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
            z-index:1002;
            cursor:pointer;
            -webkit-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            user-select:none;
            float:left;
            @media(max-width:768px){
                float: right;
                margin-right: 26px;
            }
            &.is-active{
                background-color:none;
                .-top{
                    -webkit-transform:translateY(200%) rotate(45deg) !important;
                    -ms-transform:translateY(200%) rotate(45deg) !important;
                    transform:translateY(200%) rotate(45deg) !important;
                }
                .-mid{
                    opacity:0;
                }
                .-bottom{
                    -webkit-transform:translateY(-1979%) rotate(135deg) !important;
                    -ms-transform:translateY(-1979%) rotate(135deg) !important;
                    transform:translateY(-1979%) rotate(135deg) !important;
                }
            }
            &:hover {
                &.-top{
                    -webkit-transform:translateY(-100%);
                    -ms-transform:translateY(-100%);
                    transform:translateY(-100%);
                }
                &.-bottom{
                    -webkit-transform:translateY(100%);
                    -ms-transform:translateY(100%);
                    transform:translateY(100%);
                }
            }
            ._layer{
                background:#997752;
                margin-bottom:10px;
                border-radius:2px;
                width:40px;
                height:1px;
                opacity:1;
                -webkit-transform:translate3d(0, 0, 0);
                transform:translate3d(0, 0, 0);
                -webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
                transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);        
            }
        }
        .p-menu{
            color: #997752;
            margin-left: 50px;
            font-family: 'futuralight';
            font-size: 18px;
            margin-top: -7px;
            text-transform: uppercase;
            transition: all 0.25;
            opacity: 0;
            &.p-menu-open{
                opacity: 1;
                @media(max-width:768px){
                    transition: all 0.25s ease;
                    transform: translateX(-30px);
                }
            }            
        }
        .menu-list{
            height: 0px;
            width: auto;
            color: #fff;
            font-size: 18px;
            text-transform: uppercase;
            border-left: 1px solid #997752;
            color: #997752;
            padding-left: 15px;
            margin-left: 35px;	
            list-style: none;
            margin-top: 20px;
            overflow: hidden;
            -webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
            transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
            &.open-menu{
                overflow: visible;
                height: auto;
                width: 100%;
                @media(max-width:768px){
                    transition: all 0.25s ease;
                    transform: translateX(-30px);
                    width: 115%;
                }
            }
            li{
                cursor: pointer;
                padding: 5px;
                font-family: 'futuralight';
                &:hover{
                    font-family: 'futuraextra_black';
                }
                a {

                }
                ul {
                    @media(max-width:768px){
                        padding-inline-start: 10px;
                    }
                }
            }
        }
    }
    .redes {
        font-size: 18px;
	    font-family: 'futuralight';
        color: #997752;
        padding: 0 24px;        
        a {
            p {
                text-transform: uppercase;
            }
        }
        .lang-items {
            li {
                text-transform: uppercase;
            }
        }
        .sm-items {
            display: flex;
            width: 100%;
            li {
                margin: 16px 8px;
                cursor: pointer;
                list-style: none;
                &:hover {
                    opacity: .5;
                }
                &:first-child {
                    margin-left: 0;
                }
                &:not(:first-child):not(:last-child) {
                    margin: 16px 8px;
                }
                &:last-child {
                    margin-right: 0;
                }
                .insta{
                    img {
                        width: 30px;
                    }
                }
                .in{
                    img {
                        width: 30px;
                    }
                }
                .vimeo{
                    img {
                        width: 30px;
                    }
                }
            }
        }
    }
}