<section class="contenedor-principal">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-xl-2">
                <app-header></app-header>       
            </div>
            <div class="col-12 col-xl-10">
                <div class="contenido">
                    <!-- <app-home></app-home> -->
                    <!-- <app-worker></app-worker> -->
                    <!-- <app-service></app-service> -->
                    <router-outlet></router-outlet>
                </div> 
            </div>
            <div class="col-12">
                <app-footer></app-footer>
            </div>
        </div>
    </div>
</section>