// .footer {
//     width: 100%;
//     position: absolute;
//     bottom: -28px;
// }
.footer{
    padding: 0 16px;
    position: relative;
    margin-top: 32px;
    @media(max-width:767px){
        padding: 0 8px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px){
        padding: 0 40px;
    }    
    .redes {
	    font-size: 18px;
	    font-family: 'futuralight';
        color: #997752;
        position: relative;
        @media(max-width:767px){
            border-top:1px #5a442c solid;
            padding-top: 24px;
            margin-top: 24px;
        }
        &.none-border {
            @media(max-width:767px){
                border-top: none;
                padding-top: 0;
                margin-top: 0;
            }
        }
        a {
            p {
                text-transform: uppercase;
            }
        }
        .lang-items {
            li {
                text-transform: uppercase;
                a {
                    &.active {
                        font-family: "futuraextra_black";
                    }
                }
            }
        }
        .sm-items {
            display: flex;
            width: 100%;
            @media(max-width:767px){
                margin-bottom: 0;
            }
            li {
                margin: 16px 8px;
                cursor: pointer;
                list-style: none;
                &:hover {
                    opacity: .5;
                }
                &:first-child {
                    margin-left: 0;
                }
                &:not(:first-child):not(:last-child) {
                    margin: 16px 8px;
                }
                &:last-child {
                    margin-right: 0;
                }
                .insta{
                    img {
                        width: 30px;
                    }
                }
                .in{
                    img {
                        width: 30px;
                    }
                }
                .vimeo{
                    img {
                        width: 30px;
                    }
                }
            }
        }
    }
    .copyright{
        position: absolute;
        bottom: 0;
        right: 0;
        @media(max-width:767px){
            position: relative;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px){
            
        }
        @media(min-width:1720px){
            bottom: 16px;
        }
        .p-footer{
            padding-right: 70px;
            color: #685D4F;
            font-size:14px; 
            font-family: 'Myriad Pro Regular';
            @media screen and (min-width: 768px) and (max-width: 1199px){
                padding-right: 0;
            }
        }
    }
}