<div class="footer">		
    <div class="redes d-inline-block d-lg-none d-xl-none none-border">
        <a routerLink="contacto">
            <p>{{contactName}}</p>
        </a>
        <!-- <div (click)="test()"> <p style="margin-top: 10px">EN/ESP</p> <p style="margin-top: 10px">EN/ESP</p></div> -->
        <ul class="lang-items">
            <li>
                <div (click)="changeLanguageFooter('en')">En/</div>
            </li>
            <li >
                <div (click)="changeLanguageFooter('es')">Esp</div>
            </li>            
        </ul>
        <ul class="sm-items">
            <li>
                <div class="insta">
                    <a href="{{sharedInfo.instagram}}" target="_blank">
                        <img src="assets/img/insta.png" alt="Instagram Dorado"/>
                    </a>                    
                </div>
            </li>
            <li>
                <div class="in">
                    <a href="{{sharedInfo.linkedin}}" target="_blank">
                        <img src="assets/img/in.png" alt="Linkedin Dorado"/>
                    </a>
                </div>
            </li>
            <li>
                <div class="vimeo">
                    <a href="{{sharedInfo.vimeo}}" target="_blank">
                        <img src="assets/img/vimeo.png" alt="Vimeo Dorado"/>
                    </a>                    
                </div>
            </li>            
        </ul>
    </div>
    <div class="copyright">
        <p class="p-footer">Copyright © 2020 Dorado. Inc</p>
    </div>
</div>